

.forgot-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.forgot-card {
  display: flex;
  width: 85%;
  max-width: 950px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.forgot-left {
  flex: 1;
  /* background: linear-gradient(to bottom right, #007bff, #0056d2); */
  background-image: url("back.png");
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-right {
  flex: 1;
  padding: 40px;
}

.forgot-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-icon {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.input-icon .icon {
  margin-right: 20px;
  font-size: 18px;
  color: #6c63ff;
}

.forgot-input {
  border: none;
  margin-left: 30px;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
}

.forgot-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background-color: #003b99;
  color: white;
  font-weight: bold;
  border: none;
  transition: background 0.3s;
}

.forgot-btn:hover {
  background-color: #002f80;
}

.back-to-signin {
  margin-top: 20px;
  font-size: 14px;
}
